{% extends 'herencia/base.html.twig' %}

{% block title %}Bienvenido a la Herencia en Twig{% endblock %}

{% block contenido %}
    <p>Estamos encantados de recibirte</p>
    {#{% for noticia in noticias %}#}
        {#<h2>{{ noticia.titulo }}</h2>#}
        {#<p>{{ noticia.contenido }}</p>#}
    {#{% endfor %}#}
{% endblock %}