{% extends 'herencia/base.html.twig' %}

{% block title %}Bienvenido a la herencia de plantillas en Twig{% endblock %}

{% block contenido %}
    <p>Encantado de recibirte en esta nueva plantilla.</p>
    <p>Fíjate que ahora tenemos una barra lateral para el menú de navegación.</p>
    <p>Espero que estés aprendiendo mucho.</p>
{% endblock %}