<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mi primer framework - Framekestein</title>
</head>
<body>
    <h1>Mi primer framework</h1>
    <p>Esto es un humilde framework realizado con Composer y Twig.</p>
</body>
</html>