<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Framekenstein</title>
    <link rel="stylesheet" href="css/frame.css">
</head>
<body>
<header class="header">
    <h1><a href="/index.php">Framekenstein</a></h1>
</header>
<main class="main">
    <div class="main-content">
        {% block contenido %}
        {% endblock %}
    </div>
</main>
<footer class="footer">
    Made with Framework Framekenstein · <a href="index.php?p=herencia/inicio">Herencia</a>
</footer>
</body>
</html>