<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Framekenstein</title>
</head>
<body>
{% block contenido %}
{% endblock %}
<p>Este párrafo está en la plantilla principal</p>
</body>
</html>