<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Framekenstein</title>
    <link rel="stylesheet" href="css/frame.css">
</head>
<body>
<div class="header">
    <h1><a href="/index.php">Framekenstein</a></h1>
</div>
<div class="contenido">
    {% block contenido %}
    {% endblock %}
</div>
</body>
</html>