{% extends 'herencia/tienda/intermedia.html.twig' %}

{% block contenido %}
    <img src="http://placekitten.com/401" alt="meow">
    {% for articulo in ofertas %}
        <h2>{{ articulo.nombre }}</h2>
        <img src="{{ articulo.imagen_url }}">
        <p>{{ articulo.descripcion }}</p>
        <p>Precio: {{ articulo.precio }}</p>
    {% endfor %}
{% endblock %}